@use "globals";
$button-width:190px;
$button-height:60px;
.blue-button{
  color: white;
  font-weight: 400;
 // width: $button-width;
 // height:$button-height;
  text-decoration: none ;
  background-color: globals.$sky-blue;
  font-size: 14pt;
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  border:2px globals.$sky-blue  solid;
  border-radius: 10px;
}
.blue-button:hover{

}
.white-button{
  color: globals.$sky-blue;
  font-weight: 400;
 // width: $button-width;
 // height:$button-height;
  text-decoration: none ;
  background-color: transparent;
  font-size: 14pt;
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  border:2px globals.$sky-blue  solid;
  border-radius: 10px;
}
.buttons{
  display: inline-flex;
 // flex-direction: row;
}
.rounded-button{
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  text-decoration: none;
  border-radius: 5rem;
}
.rounded-button:hover{
  text-shadow: white;
  background-color: hotpink;
}
