$col-length:auto;
$gap:3rem;

  .card{
    a{
      font-weight: bold;
      color: black;
      text-decoration: none;
    }
  }
.genre{
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  border: 1px solid #5A7184;
  font-size: small;
}

.card-text{
  width:100%;
  font-weight: 400;
  font-size: 19pt;
  color: #5A7184;
  margin-top: 30px;
   
}