@use "globals";
$logo-margin:2rem;

.navbar-brand{
  
  margin-right: $logo-margin;

}

nav{
  a{
    margin-right: 1rem;
    color: black;
    font-weight: bold;
  }
}
@media only screen and (max-width: 600px) {
  .navbar-brand{
    margin-right: 0;
  }
}