.title{
  font-weight: 700;
  font-size: 32pt;
  color: #16133E;
}

.sub-title{
  margin-top: 60px;
  font-weight: 400;
  font-size: 16pt;
  color: #87A1B6;
  text-transform: uppercase;
}

.special-title{
  font-family: "Times New Roman", serif;
  font-size: 32pt;
}
.text{
  padding-right: 50px;
  font-weight: 500;
  font-size: 19pt;
  color: #5A7184;
  margin-top: 30px;
  margin-bottom: 60px;
}
