.title{
  font-weight: 700;
  font-size: 32pt;
  color: #16133E;
}

.sub-title{
  font-weight: 400;
  font-size: 16pt;
  color: #87A1B6;
  text-transform: uppercase;
}

.special-title{
  font-family: "Times New Roman", serif;
  font-size: 32pt;
}
