@use "globals";
@forward "navbar";
@forward "banner";
@forward "cards";


html{
  font-size: 100%;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: white;
  font-family: globals.$roboto, sans-serif ;

}
*, *::before, *::after {
  box-sizing: inherit;
}

.container{
  display: grid;
 // justify-content: center;
  padding-top: 20px;
  padding-left: 80px;

  .services{
    width: 850px;
    h1{
      font-weight: 400;
      font-size: 16pt;
      color: #87A1B6;
      text-transform: uppercase;
    }
    h2{
      font-weight: 700;
      font-size: 32pt;
      color: #16133E;
    }
    .text{
      margin-top: 30px;
      margin-bottom: 60px;
    }
  }
}




