@use "globals";
@forward "starter";
@forward "navbar";
@forward "cards";
@forward "footer";
@forward "typography";
@forward "banner";
.home-image{
    display: flex;
    flex-direction: column;
    width: 31.25rem;
    height: 31.25rem;
    object-fit: cover;
    margin-right: 15rem;
  
  }
  @media only screen and (max-width: 600px) {
    .home-image{
      width: 30.5rem;
      height: 30.5rem;
      margin-right: 0;
    }
  }
  

